*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:black;
    color:white;
    text-align:center;
    font-family:Arial, sans-serif;
}

.logo{
    width:250px;
    margin-bottom:5px;
}

.message-box h1{
    font-size:55px;
    margin-bottom:20px;
}

.message-box p{
    font-size:22px;
    color:#dcdcdc;
}